<div class="question" id="question-<%= question.id %>">
  <div class="panel-heading">
    <%= link_to question_path(question) do %>
      <h3 class="panel-title"><%= question.title %></h3>
    <% end %>
  </div>
  <div class="panel-body">
    <%= render "shared/vote", object: question %>
    <%= question.description %>
  </div>
  <div class="tag-list"><%= render "shared/tag_list", tags: question.all_tags_list, highlight: nil %></div>
  <div class="timestamp">
    <% if current_user == question.user %>
      <%= link_to 'Edit', edit_question_path(question), class: "btn btn-primary btn-xs" %>
    <% end %>

    Posted <%= time_ago_in_words(question.created_at) %> ago by <%= render 'users/shared/link', user: question.user, hide_label: defined?(hide_user_label) && hide_user_label %>
  </div>
</div>