<h1>Questions</h1>
<% unless params[:tag].nil? %>
  <h2><%= params[:tag] %></h2>
<% end %>

<div class="tag-cloud">
  <%= render "shared/tag_list", object: @tags.map { |tag| tag.name } %>
</div>

<%= link_to 'New Question', new_question_path, class: "btn btn-primary" %>

<div>
  <%= will_paginate %>
  <%= render @questions %>
  <%= will_paginate %>
</div>