<h1>Questions</h1>

<%= link_to 'New Question', new_question_path, class: "btn btn-primary" %>

<div class="tag-cloud">
  <%= render 'shared/tag_search', param: :tag %>
  <%= render "shared/tag_list", tags: @tags.map { |tag| tag.name }, highlight: params[:tag] %>
</div>

<%= link_to 'Friends only', questions_path(@params.merge(friends: @params[:friends] != 'true')), class: "btn btn-default #{'active' if params[:friends] == 'true'}" %>

<div id="questions">
  <%= render 'index_questions' %>
</div>