<div id="question-wrapper" class="loading-container">
  <%= render @question %>

  <%= render "form_ajax" %>
</div>

<div class="comments">
  <%= render @question.comments %>
  <%= link_to "Add comment", new_comment_path(comment: { commentable_type: Question, commentable_id: @question.id }), class: "btn btn-warning btn-xs" %>
</div>

<% if current_user != @question.user %>
  <%= link_to 'Submit Answer', new_question_answer_path(@question), class: "btn btn-primary", id: "submit-button" %>
<% else %>
  <a href="http://www.facebook.com/dialog/send?app_id=1425246721117641&link=<%= request.original_url %>&redirect_uri=<%= request.original_url %>">
    Share to Facebook
  </a>
<% end %>

<div id="new-form" class="well collapse">
	<%= render "answers/form", remote: true %>

	<button id="cancel-button" class="btn btn-info btn-wide">Cancel</button>
</div>

<div id="answers" class="loading-container">
  <%= render 'shared/paged_sorted_list', path_method: lambda { |params| question_path(@question, params) }, sort: :sort, paginatable: @answers, paginate_param_name: :page %>
</div>