<div class="title"><%= @question.title %></div>
<div class="content"><%= @question.description %></div>
<div class="timestamp">Posted <%= time_ago_in_words(@question.created_at) %> ago by <%= link_to @question.user.username, user_path(@question.user) %>.</div>
<div class="tags">
  <%= raw(@question.tag_list.map { |tag| link_to(tag, show_tag_path(tag)) }.join(",")) %>
<div>

<ul class="answers">
  <%= render @question.answers %>
</ul>

<% if current_user == @question.user %>
  <%= link_to 'Edit', edit_question_path(@question) %> </br>
  <%= link_to 'Delete', @question, method: :delete, data: { confirm: 'Are you sure?' } %>
<% elsif %>
  <%= link_to 'Submit Answer', new_question_answer_path(@question) %>
<% end %>