<h1>Friends</h1>

<% if @incoming.any? %>
  <div class="col-md-6">
    <ul class="list-group">
      <li class="list-group-item list-group-item-success">Incoming</li>
      <% @incoming.each do |request| %>
        <li class="list-group-item" style="overflow: auto">
          <%= link_to request.user.username, request.user %>
          <div class="btn-group btn-group-sm" role="group" aria-label="..." style="float: right;">
            <%= link_to friend_accept_path(request), method: :put, class: "btn btn-default btn-success" do %>
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            <% end %>
            <%= link_to friend_decline_path(request), method: :delete, class: "btn btn-default btn-danger" do %>
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if @outgoing.any? %>
  <div class="col-md-6">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">Outgoing</li>
      <% @outgoing.each do |request| %>
        <li class="list-group-item" style="overflow: auto">
          <%= link_to request.friend.username, request.friend %>
          <%= link_to friend_decline_path(request), method: :delete, class: "btn btn-default btn-danger", style: "float: right;" do %>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<ul class="col-md-12 list-group">
  <% @friends.each do |friend| %>
    <li class="list-group-item" style="overflow: auto">
      <%= link_to friend.username, friend %>
      <%= link_to friend_delete_path(friend), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-danger", style: "float: right;" do %>
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      <% end %>
    </li>
  <% end %>
</ul>