<div class="row">
  <aside>
    <section class="user_info">
      <h1>
        <%= @user.username %>
      </h1>

      <% if user_signed_in? && current_user != @user %>
          <% if current_user.friends.include? @user %>
            <span class="label label-primary">Friend</span>
            <% if current_user.friendships.find_by(friend: @user).facebook %>
              (<%= @user.name %> <span class="fa fa-facebook-official fa-lg"></span>)
            <% end %>
          <% elsif current_user.pending_friends.include? @user %>
            <span class="label label-info">Friend requested</span>
          <% elsif @user.pending_friends.include? current_user %>
            <span class="label label-success">Friend requested you</span>
          <% else %>
            <%= link_to "Friend request", friend_request_path(@user), method: :post, class: "btn btn-primary btn-sm" %>
          <% end %>
        <% end %>
    </section>
  </aside>
</div>

<div class="row">
  <div class="col-sm-6">
    <% if @user.questions.any? %>
      <h3>Questions (<%= @questions.count %>)</h3>

      <div class="user-tag-list">
        <%= render 'shared/tag_search', param: :question_tag %>
        <%= if params[:question_tag] then link_to "Clear", @user, class: "btn btn-primary btn-xs" end %>
        <%= raw(@question_tags.map { |tag| link_to(tag, user_path(@user, @params.merge(question_tag: tag, question_page: nil)), class: "btn btn-default btn-xs #{'active' if tag == params[:question_tag]}") }.join(" ")) %>
      </div>

      <div id="questions" class="loading-container">
        <%= render 'shared/paged_sorted_list', path_method: lambda { |params| user_path(@user, params) }, sort: :question_sort, paginatable: @questions, paginate_param_name: :question_page %>
      </div>

    <% end %>
  </div>

  <div class="col-sm-6">
    <% if @user.answers.any? %>
      <h3>Answers (<%= @answers.count %>)</h3>

      <div class="user-tag-list">
        <%= render 'shared/tag_search', param: :answer_tag %>
        <%= if params[:answer_tag] then link_to "Clear", @user, class: "btn btn-primary btn-xs" end %>
        <%= raw(@answer_tags.map { |tag| link_to(tag, user_path(@user, @params.merge(answer_tag: tag, answer_page: nil)), class: "btn btn-default btn-xs #{'active' if tag == params[:answer_tag]}") }.join(" ")) %>
      </div>

      <div id="answers" class="loading-container">
        <%= render 'shared/paged_sorted_list', path_method: lambda { |params| user_path(@user, params) }, sort: :answer_sort, paginatable: @answers, paginate_param_name: :answer_page %>
      </div>
      
    <% end %>
  </div>
</div>