<div class="answer" id="answer-<%= answer.id %>">
  <% if !defined? @question %>
    <div class="panel-heading">
      <%= link_to question_path(answer.question) do %>
        <h3 class="panel-title"><%= answer.question.title %></h3>
      <% end %>
    </div>
  <% end %>
  <div class="panel-body">
    <%= render "shared/vote", object: answer %>

    <div class="content"><%= answer.content %></div>
    <div class="link"><%= link_to answer.link, answer.link %></div>
    <div class="timestamp">
      <% if current_user == answer.user %>
        <%= link_to 'Edit', edit_question_answer_path(answer.question, answer), class: "btn btn-info btn-xs" %>
      <% end %>

      Posted <%= time_ago_in_words(answer.created_at) %> ago by <%= link_to answer.user.username, user_path(answer.user) %>.
    </div>
  </div>
</div>