<li id="answer-<%= answer.id %>">
  <div class="content"><%= answer.content %></div>
  <div class="link"><%= link_to answer.link, answer.link %></div>
  <div class="timestamp">Posted <%= time_ago_in_words(answer.created_at) %> ago by <%= link_to answer.user.username, user_path(answer.user) %>.</div>

  <% if current_user == answer.user %>
    <%= link_to 'Edit', edit_question_answer_path(@question, answer) %> </br>
    <%= link_to 'Delete', question_answer_path(@question, answer), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</li>